<div class="row mb-5">
    <div class="col-lg-3">
        <div class="wrap-card">
            <app-card-user />
        </div>
    </div>
    <div class="col-lg-3">
        <div class="wrap-card">
            <app-card-user />
        </div>
    </div>
    <div class="col-lg-3">
        <div class="wrap-card">
            <app-card-user />
        </div>
    </div>
    <div class="col-lg-3">
        <div class="wrap-card">
            <app-card-user />
        </div>
    </div>
    <div class="col-lg-3">
        <div class="wrap-card">
            <app-card-user />
        </div>
    </div>
    <div class="col-lg-3">
        <div class="wrap-card">
            <app-card-user />
        </div>
    </div>
</div>